html
{
    background-color: #1a1a1d;
}
.nav
{
    font-size: 25px;
    text-align: right;
    margin-top: 10px;
    background-color: #c3073f;
    padding-top: 10px;
    padding-bottom: 10px;
   
    
}
.nav a
{
    
    text-decoration: none;
    margin-left: 60px;
    margin-right: 40px;
    color: aliceblue;

}
label
{
    margin-right: 10px;
    
    
}
#submit
{
    margin-left: 570px;
    width: 75px;
    height: 20px;
}
.form1
{
    line-height: 2.9;
    word-spacing: 0.2em;
    align-self: center;
    padding-left: 500px;
    color: #dcae1d;
}
.head
{
    font-size: 50px;
    color: blue;
}
.webdev,.css,.ht,.bootstrap,.php,.fronttype,.backtype,.fulltype,.scope
{
    font-size: 20px;
    line-height: 1.9;
    color: aliceblue;
}
.fronttype,.backtype,.fulltype
{
    font-size: 20px;
}
.webcourse,#reghead
{
    text-align: center;
}
#male,#female
{
    margin-left: 1px;

}
.loginpage
{
    margin-left: 480px;
    line-height: 2.9;
    word-spacing: 0.2em;
    font-size: 18px;
    margin-bottom: 40px;
    color: aliceblue;
}
#create
{
    margin-left: 520px;
    margin-bottom: 60px;
    color: #dcae1d;
}
#create a
{
    color: cyan;
}
#create a:hover{
    color: crimson;
}
a.ahome:hover ,a.acourse:hover ,a.acontact:hover ,a.alogin:hover
{
    color: black;
    font-size: 90%;
    text-decoration: underline;
}
.mob
{
   padding-left: 200px;
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.4;
    color: aliceblue;
}
.heading
{
    text-align: center;
}
.add
{
    
    padding-left: 400px;
    font-size: 18px;
    line-height: 1.4;
    color: aliceblue;
    
}
.mail
{
   padding-left: 450px;
    padding-bottom: 50px;
    color: aliceblue;
}
.madeinindia
{
    float: right;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #dcae1d;
    
}
.want
{
    float: left;
    margin-bottom: 10px;
    color: #dcae1d;
    
}

.image
{
    float: left;
    width: 220px;
    height: 90px;
}
.marque
{
    column-width: 1200px;
    font-size: 40px;
    color: #dcae1d;
    
}
h1,h2
{
    color: #c3073f;
}
.full
{
    background-image: url(pexels-photo-1229861.jpeg);
    background-repeat: round;
    align-items: flex-start;
    width: 1400px;
    height: 1700px;
}
.coursecontent
{
    background-image: url(pexels-photo-583846.jpeg);
    background-repeat: round;
}